*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "roboto";
}

body{
    width: 100vw;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    border: 1px solid black;
    margin-bottom: 0.1rem;
   
}

.logo{
    width: 150x;
    height: 150px;
    padding: 1rem;
    border-radius: 50%;
    margin-left: 30px;
}

header img{
    width: 80%;
    text-align: center;
    height: 180px;
}


nav{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffffe1;
    margin-bottom: 3rem;
    border: 1px solid #570505;
    position: sticky;
    top: 0;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.2rem;
    
}

.menu li a{
    padding: 0.5rem;
    color: #570505;
    border: 1px solid #570505;
    list-style: none;
    border-radius: 5px;
}

.menu li a{
    color: #570505;
}

.menu li a:hover{
    color: white;
    background-color: #570505;
}

main{
    width: 100%;
    height: auto;
}

.academiaNome{
    text-align: center;
    text-shadow: 2px 1px #0000006b;
    color: #570505;
}

.subtitulo{
    text-align: center;
    margin-bottom: 3rem;
    text-shadow: 2px 1px #570505af;
}

main p{
    text-align: justify;
    font-size: 20px;
    font-style: italic;
    margin-left: 15%;
    margin-right: 15%;
    box-sizing: border-box;
    overflow: auto;
    margin-bottom: 50px;
}

h3{
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 1rem;
    color: #570505;
}

#academia{
    width: 90%;
    text-align: center;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 1rem;
}

.foto{
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    margin: 20px;
}

footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    background-color: #000000;
    align-items: center;
    bottom: 0;
}


footer p, a{
    font-size: 15px;
    color:white;
    text-decoration: none;
}

footer div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.rede{
    width: 30px;
    height: 30px;
}
/* final index */

/* Modalidades */

#titulo-modalidades{
    text-align: center;
    text-shadow: 2px 1px #0000006b;
    color: #570505;
}

#box-cross, #box-danca, #box-lutas, #box-musculacao, #box-pilates, #box-spinning{
    text-align: center;
    border: 1px solid black;
    width: 400px;
    height: 500px;
    margin: 20px;
    display: inline-block;
    

}

#modalidades{
    width: 65%;
    text-align: center;
    align-items: center;
    border: 1px solid #570505;
    margin: auto;
    box-sizing: border-box;
    flex-direction: row;

    

}

.modo{
    width: 350px;
    height: 350px;
    border: 2px solid #570505;
    box-sizing: border-box;
    margin: 15px; 
}

.pilates, .cross, .danca, .lutas, .musculacao, .spinning{
    width: 80%;
    list-style: none;
    border: 1px solid #570505;
    margin-left: 40px;
}
.pilates li, .cross li, .danca li, .lutas li, .musculacao li, .spinning li{
    background-color: #57050593;
    margin: 1px;
    cursor:pointer;
}

.tipo{
    font-weight: 600;
}

/* Cadastro */

#cadastro{
    width: 65%;
    border: 2px solid #570505;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 50px;
}

fieldset{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    align-items: center;
}

#cadastro h1{
    text-align: center;
    text-shadow: 2px 1px #0000006b;
    color: #570505;
    margin-bottom: 20px;
}



#cadastro input{
    padding: 0.8rem 0.6rem;
    border: 0.5px solid black;
    border-radius: 3px;
    margin: auto;
    width: 500px;
    margin-top: 10px;
}



#cadastro input[type="submit"]{
    width: 200px;
    background-color: transparent;
    color: #570505;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: 20px;
    
}

#cadastro input[type="submit"]:hover{
    background-color: #570505;
    color: #ffffff;
}

/* Sobre */

#sobre h1{
    text-align: center;
    text-shadow: 2px 1px #0000006b;
    color: #570505;
    margin-bottom: 20px;
}

#sobre p{
    text-align: justify;
    font-size: 20px;
    font-style: italic;
    margin-left: 15%;
    margin-right: 15%;
    box-sizing: border-box;
    overflow: auto;
    margin-bottom: 50px;
}
